<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') -%>
  <body>
    <% if(projects.length > 0) { %>
    <div class="container">
      <h1 class="text-center"><%= username %>'s Projects</h1>
      <div class="row">
        <% projects.forEach((project) => { %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text"><%= project.description %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% } else { %>
    <h1 class="text-lg-center text-danger">
      There are no projects under <%= username%>!
    </h1>
    <% } %>

    <a class="link link-underline m-4" href="/dashboard">
      <button class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
        Go Back
      </button>
    </a>
  </body>
</html>
